/* 
    Document   : topic1
    Created on : Mar 11, 2013, 2:16:46 PM
    Author     : ddg5
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

