/* 
    Document   : topic1
    Created on : Mar 11, 2013, 2:16:46 PM
    Author     : ddg5
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.chart-series-line {    
    -fx-stroke-width: 4px;
    -fx-effect: null;
}
 
/* We can change these colors to whatever */
.default-color0.chart-series-line { -fx-stroke: #0000FF; }
.default-color1.chart-series-line { -fx-stroke: #FF0000; }
.default-color2.chart-series-line { -fx-stroke: #009900; }
.default-color3.chart-series-line { -fx-stroke: #990099; }

.default-color0.chart-line-symbol { -fx-background-color: #0000FF, white; }
.default-color1.chart-line-symbol { -fx-background-color: #FF0000, white; }
.default-color2.chart-line-symbol { -fx-background-color: #009900, white; }
.default-color3.chart-line-symbol { -fx-background-color: #990099, white; }

