
/* If we want to do anything to the whole window, like add a bg image */
.root { 
    /*display: block;
    -fx-background-image: url("background.jpg"); */
}

.hyperlink {
  -fx-underline: true;
  -fx-text-fill: blue;
}

#title-text {
  -fx-font-size: 24px;
  -fx-font-family: "Arial Black";
  -fx-fill: #818181;
  -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, .7), 6, 0.0, 0, 2);
}

#description {

}

#acknowledgements {
  -fx-font-size: 14px;
}
